<h1>Login</h1>
<mat-divider></mat-divider>


  <form autocomplete="off"
        >

      <!-- Nombre -->
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="clientName" required>
          <mat-icon matSuffix>perm_identity</mat-icon>
          <mat-hint>Introduce tu nombre</mat-hint>
        </mat-form-field>
      </p>

      <!-- email -->
      <p>
          <mat-form-field appearance="legacy">
            <mat-label>Introduce email</mat-label>
            <input matInput placeholder="ejemplo@ejemplo.com" formControlName="email" required>
            <mat-hint>Introduce tu correo electrónico</mat-hint>
            <!-- <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
             <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
      </p>

      <!-- password -->
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Introduce contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>

       <!-- repeat password -->
       <p>
        <mat-form-field appearance="legacy">
          <mat-label>Repetir contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>








    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              type="submit">
          Enviar
      </button>
    </mat-card-actions>
  </form>


