<div class="container my-4 px-6 mx-auto">
  <div class="mb-3 text-gray-800 background-radial-gradient ">
      <div class="px-6 py-12 md:px-12 text-center lg:text-left bg-gray-50 rounded-sm">
          <div class="grid lg:grid-cols-2 gap-12 items-center">
            <div class="mt-12 lg:mt-0">
              <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12 text-teal-500">
                Cocina casera y saludable en Gran Canaria.<br />
              </h1>
              <p class="text-lg text-teal-500">
               Te la llevamos donde quieras!
              </p>
              <button class="bg-orange-500 text-white p-6 rounded-sm font-bold mr-2" (click)="goToProducts()">Ver platos</button>
              <button class="bg-orange-500 text-white p-6 rounded-sm font-bold" (click)="goToMenus()">Ver menus</button>
            </div>
            <div class="mb-12 lg:mb-0">
              <div class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden rounded-lg shadow-lg">
                  <img src="../../../../assets/posibleLanding.jpg" alt="">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>



<!-- Dishes List -->
<div class="bg-teal-500 rounded-sm">
  <div class="mx-2 pt-2">
    <h2 class="text-white">¿ Qué hacemos ? / ¿ Cómo funcionamos ?</h2>
    <h3 class="text-white text-center font-bold">
      Preparamos meriendas saludables, bajo pedido, pensadas para celebraciones infantiles aunque sirven para acompañar cualquier otro tipo de reunión.
      <br>
      Tenemos la opción de reparto a domicilio.
    </h3>
    <hr>
    <div class="flex flex-col p-5">
      <div class="flex-row grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 p-6 text-white">
        <div class="border-4 border-white p-24 m-4">
          <mat-icon>notes</mat-icon>
        </div>
        <div class="col-span-2 p-4 sm:ml-8">
          <p>
            Accede a la carta de platos y/o menús y añadelos a tu cesta.
          </p>
          <p>
            Selecciona la cantidad que deseas por cada producto.
          </p>
          <p>
            Si estás conforme, tramita el pedido.
          </p>
        </div>
      </div>
      <div class="flex-row grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 p-6 text-white">
        <div class="border-4 border-white p-24 m-4 md:order-last">
          <mat-icon> notes</mat-icon>
        </div>
        <div class="col-span-2 p-4 sm:ml-8">
         <p>
            Añade la dirección en el mapa dónde quieres que te enviemos tu pedido, de esa forma podremos calcular las tasas según la distancia:
          </p>
        </div>

      </div>
      <div class="flex-row grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 p-6 text-white">
        <div class="border-4 border-white p-24 m-4">
          <mat-icon> notes</mat-icon>
        </div>
        <div class="col-span-2 p-4 sm:ml-8">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur veniam vitae eaque rerum veritatis, animi reprehenderit earum placeat repellat modi laborum dolore architecto minima explicabo laudantium iste harum totam quisquam?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class=" flex flex-row items-center justify-center gap-20 mt-20">
    <div class="rounded-xl shadow-xl">
        <img class="w-full rounded-t-xl h-36 object-cover"
              src="https://ep01.epimg.net/elcomidista/imagenes/2020/01/16/articulo/1579198461_008900_1579199867_media_normal.jpg"
              alt="">
        <div class="p-6">
          <h2 class="text-2x1 mt-2 font-bold">
            Platos
          </h2>
          <p class="mt-2 text-gray-600">
            Incredible, amazing and awesome
          </p>
          <button>
            Ver Platos
          </button>
        </div>
    </div>

    <!-- Menus List-->
   <div class="rounded-xl shadow-xl">
        <img class="w-full rounded-t-xl h-36 object-cover"
             src="https://ep01.epimg.net/elcomidista/imagenes/2020/01/16/articulo/1579198461_008900_1579199867_media_normal.jpg"
             alt="">
        <div class="p-6">
          <h2 class="text-2x1 mt-2 font-bold">
            Menus
          </h2>
          <p class="mt-2 text-gray-600">
            Incredible, amazing and awesome
          </p>
          <button>
            Ver Menus
          </button>
        </div>
   </div>
</div>
