<mat-grid-list cols="1" *ngIf="!menu; else divMenu">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #divMenu>

  <div fxLayout="column"

       fxLayoutGap="30px"
  >
    <div fxFlex="50">
      <h1>{{ menu.name }}</h1>
      <mat-divider></mat-divider>
      <br>
      <img [src]=menu.image/>
    </div>

    <div fxFlex="50">
      Descripcion: {{ menu.description }}
      <mat-divider></mat-divider>
      Comensales: {{ menu.diners}}
      <mat-divider></mat-divider>
      Platos:{{ menu. dishes}}

      <button mat-button
              color="warn"
              (click)="goBack()">
        Volver
      </button>
    </div>
  </div>

</ng-template>

