<h2 class="p-2">breadcumbs</h2>

<div class="grid grid-cols-1 sm:grid-cols-3 p-8 w-full">

  <!-- Image details -->
  <div class="grid p-8 sm:col-span-2 sm:border-y-2 sm:border-gray-200 place-items-center border-b-2 border-gray-200">

    <img class="h-auto w-full object-cover border-8 border-white" src="{{ menu?.image }}"/>


  </div>

  <!-- Menu details -->
  <div class="grid p-8 sm:border-l-2 sm:border-y-2 sm:border-gray-200 w-ful gap-4">

      <div class="w-full">
        <h1>{{ menu?.name }}</h1>
      </div>

      <div class="font-bold w-full border-b-2 border-gray-200 p-4">
        {{ menu?.price }} <mat-icon>euro</mat-icon>
      </div>

      <div class="border-b-2 border-gray-200 p-4">
        {{ menu?.diners}} <mat-icon>restaurant</mat-icon><span class="cdk-visually-hidden">Comensales</span>
      </div>

      <div class="w-full bg-blue-100 my-2 rounded-sm p-4 border-b-2 border-gray-200">
        <span class="cdk-visually-hidden">Descripción</span> {{ menu?.description }}
      </div>


      <div class="p-4 grid grid-cols-2 w-full">

        <h3 class="sm:p-4 w-full border-b-2 border-teal-500">Lista de Platos</h3>
        <!-- <mat-icon class="">format_list_bulleted</mat-icon><span class="cdk-visually-hidden">Platos</span> -->

        <button *ngIf="!hideList" (click)="minimizeList()" class="text-teal-500 col-span-1 col-end-4">
          <mat-icon >remove</mat-icon>
        </button>

        <button *ngIf="hideList" (click)="maximizeList()" class="text-teal-500 col-span-1 col-end-4">
          <mat-icon >add</mat-icon>
        </button>

        <div *ngFor="let dish of menu?.dishes; let i = index" class="col-span-2">

          <div *ngIf="!hideList" class="flex flex-row p-4 gap-4 border-b-2 border-gray-200">
            <!-- {{ i + 1 }} - -->
            <img src="{{ dish.image }}" width="25%">
            <a [routerLink]="['./../../productos', dish._id]" class="text-teal-500 underline"> {{ dish.name }} </a>

          </div>

        </div>

      </div>


      <div>
        <button
         *ngIf="usuario.id"
         class="bg-teal-500 border-4 border-teal-500 p-4 text-white rounded-md w-full hover:bg-white hover:text-teal-500"
         [routerLink]="['../../../dashboard/gestionar/menus/editar', menu._id]"
        >
         Editar <!-- {{ menu._id }} -->
       </button>

       <button
         *ngIf="!usuario.id"
         class="bg-orange-500 text-white p-4 rounded-md w-full"
         >
         Añadir a la cesta
       </button>
      </div>

  </div>

</div>
