
<h1>Gestionar Menús</h1>
<mat-divider></mat-divider>

  <h2>
    {{ menu ? 'Editar' : 'Crear' }}  Menú
  </h2>
  <div fxLayout="row"
        fxLayout.xs="column"
        faxLayoutGap="30px">

    <div fxFlex="50" fxLayout="column">

        <!-- Form -->
        <div fxFlex="50">
          <form autocomplete="off"
          [formGroup]="createMenuForm"
          (ngSubmit)="saveMenu()">
            <p>
              <mat-form-field appearance="legacy">
                <mat-label>{{ menu ? 'Actualizar' : 'Añadir' }} Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="name">
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="legacy">
                <mat-label>{{ menu ? 'Actualizar' : 'Añadir' }} Descripción</mat-label>
                <input matInput placeholder="subtítulo" formControlName="description">
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="legacy">
                <mat-label>{{ menu ? 'Actualizar' : 'Añadir' }} Número</mat-label>
                <input type="number" matInput placeholder="número de menú" formControlName="number">
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="legacy">
                <mat-label>{{ menu ? 'Actualizar' : 'Añadir' }} Comensales</mat-label>
                <input type="number" matInput placeholder="número de comensales" formControlName="diners">
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="legacy">
                <mat-label>Seleccionar platos</mat-label>
                  <mat-select [formControl]="newDish">
                    <mat-option *ngFor="let dish of dishesList" [value]="dish._id">
                      {{ dish.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button (click)="addDish()" type="button">Añadir</button>
            </p>

            <div *ngIf="productito.length > 1">
              <ul *ngFor="let prod of productito">
                <li>{{ prod }}</li>
              </ul>
            </div>

             <!-- Remove a dish -->
              <div formArrayName="dishes">
                  <div class="input-group"
                       *ngFor="let dish of dishesArray.controls; let i = index">

                    <input class="form-control"
                           [formControlName]="i"
                           readonly="readonly"
                           >

                    <button (click)="removeDish(i)"
                    type="button">
                      Eliminar
                    </button>



                  </div>
              </div>

            <hr>




            <div *ngIf="menu">
              <button
                mat-raised-button
                color="primary"
                type="button"
                [disabled]="createMenuForm.invalid"
                (click)="updateMenu()">
                  Actualizar
              </button>

              <button
                mat-raised-button
                color="warn"
                type="button"
                (click)="removeMenu()">
                Eliminar
              </button>
            </div>
            <div *ngIf="!menu">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="createMenuForm.invalid">
                  Crear producto
              </button>


            </div>

          </form>

        </div>

    </div>

    <mat-divider></mat-divider>

    <div fxFlex="50" fxLayout="column">
       <!-- Image picker component -->
            <app-image-picker
              (onShareImage)="addImage( $event )"
            >

            </app-image-picker>
    </div>

  </div>
