.add-to-cart {
  background: orange;
  border: 3px solid;
  color: white;
  width: 100%;
}

.added-to-cart:disabled  {
  background: white;
  color: orange;
  width: 100%;
}


.add-to-cart:hover {
  background: white;
  color: orange;
  border-color: orange;
}

.mat-card-image {
  cursor: pointer;
}

.mat-card {
  margin-top: 20px;
}

