<mat-card >
  <mat-card-header>
    <mat-card-title> {{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image src="{{ product.image }}"
    >

  <mat-card-content>
    <!-- <h3>Ingredientes:</h3> {{ product.ingredients }} -->
    {{ product.price }} <mat-icon [inline]="true">euro_symbol</mat-icon>
  </mat-card-content>

  <mat-card-actions>
    <button
      *ngIf="buttonStatusChanged === false"
      class="add-to-cart"
      mat-button
      type="button"
      (click)="handleAddProductToCart()"
    >
      Añadir a la cesta
    </button>

    <button
      *ngIf="buttonStatusChanged === true"
      class="added-to-cart"
      readonly="true"
      mat-button
      type="button"
      disabled="true"
      >
      Añadido
    </button>
  </mat-card-actions>
</mat-card>
