<mat-card >
  <mat-card-header>
    <mat-card-title> {{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image src="{{ product.image }}"
    >

  <mat-card-content>
    <h3>Ingredientes:</h3> {{ product.ingredients }}
  </mat-card-content>

  <mat-card-actions>
    <button
      class="add-to-cart"
      mat-button
      (click)="sendIdToCart(product._id)"
    >
      Añadir al carrito
    </button>
  </mat-card-actions>
</mat-card>
