<h1 class="p-8">Carta de Platos</h1>
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 p-8 gap-8">
    <app-product-card
      *ngFor="let product of products"
      [product]="product">
    </app-product-card>
</div>

<!-- <div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxLayoutGap="40px">

  <div
    fxFlex="20"
    fxFlex.lg="15"
    fxFlex.sm="30"
    *ngFor="let product of products">

    <app-product-card [product]="product"></app-product-card>

  </div>

</div> -->



<!-- class="transition-transform transform hover:scale-105 cursor-pointer duration-300 ease-in-out" -->
