<mat-card >
  <mat-card-header>
    <mat-card-title> {{ menu.name }}</mat-card-title>
    <mat-card-subtitle>{{ menu.description }}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image src="{{ menu.image }}"
    [routerLink]="['../menus', menu._id]"
  >

  <mat-card-content>
    <p>
      {{ menu.diners }} <mat-icon [inline]="true">restaurant</mat-icon>
    </p>
    <p>
      {{ menu.price }} <mat-icon [inline]="true">euro_symbol</mat-icon>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button
      class="add-to-cart"
      mat-button
      (click)="sendIdMenuToCart(menu._id)"
    >
      Añadir al carrito
    </button>
  </mat-card-actions>
</mat-card>
