
<!-- <app-loading *ngIf="!isUserLocationReady; else mapReady"></app-loading> -->

<!-- <ng-template #mapReady> -->


  <mat-spinner *ngIf="!isCookingLocationReady; else mapReady"></mat-spinner>


  <ng-template #mapReady>
    <app-map-view></app-map-view>

    <button
      mat-raised-button
      color="accent"
      (click)="closeDialogMap()">
      Cerrar Mapa
    </button>

    <app-btn-cooking-location></app-btn-cooking-location>

    <app-search-bar></app-search-bar>
  </ng-template>


<!-- </ng-template> -->

