<mat-card
  fxLayout="row"
  >
  <div
    fxFlex="40"
    fxFlex.xs="40"
    fxLayoutAlign="start center"
    fxLayoutAlign.xs="start start"
    >
    <img class="cart-item-image" src="{{ product.image }}" alt="{{ product.name }}-la-cocina-de-Aitana ">
  </div>

  <mat-card-content
    fxFlex="40"
    fxFlex.xs="40"
    fxLayout="column"
    fxLayoutAlign.xs="start start"
    >
    <h3>
      {{ product.name }}
    </h3>
    <p>
      {{ product.price }} <mat-icon [inline]="true">euro_symbol</mat-icon>
    </p>


    <!-- Select product quantity -->
    <mat-form-field style="width:5vw">
      <mat-label for="units"></mat-label>
      <input
        autocomplete="off"
        class="form-control"
        type="number"
        matInput
        [min]="1"
        [max]="3"
        [formControl]="units"
        (click)="setQuantity(product._id)"
        (keyup)="setQuantity(product._id)"
        >
      </mat-form-field>

      <!-- <div> -->
        <!-- <button class="pepito" mat-mini-fab (click)="decQ(product._id)"><mat-icon [inline]="true">remove</mat-icon></button> -->
        <!-- <mat-icon (click)="decQ(product._id)" [inline]="true">remove</mat-icon> -->
        <!-- <mat-icon (click)="incQ(product._id)" [inline]="true">add</mat-icon> -->
        <!-- <button mat-raised-button mat-mini-fab class="pepito" (click)="incQ(product._id)"><mat-icon [inline]="true">add</mat-icon></button> -->
      <!-- </div> -->


  </mat-card-content>

 <!--  <div
    fxFlex="10"
  >
    <p>
      {{ product.price * this.units.value }} <mat-icon [inline]="true">euro_symbol</mat-icon>
    </p>
  </div> -->

  <mat-card-actions
    fxFlex="20"
    fxLayoutAlign="end start"
    >
    <button
      mat-button
      (click)="removeCartItem(product._id)"
      class="remove-cart-item-button"
      >
      <p>
        <mat-icon>delete</mat-icon>
      </p>
    </button>

  </mat-card-actions>
</mat-card>


