input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}

.remove-cart-item-button {
  color: rgb(0, 109, 183);
}

.cart-item-image {
  /* width: 80%; */
  max-width: 100%;
  height:auto;
  margin-right: 10px;
}

.mat-card-content {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
