<mat-sidenav-container class="max-w-screen-2xl mx-auto" >
  <mat-sidenav #sidenav class="w-full sm:max-w-3xl">
    <mat-toolbar class="bg-teal-500 border-b-2 border-white">
      <h1 class="text-white">La Cocina de Aitana</h1>
      <!-- <img src="../../../../assets/logo.png" width="40%" alt="la-cocina-de-Aitana-logo" > -->
      <span class="spacer"></span>
      <button
        class="bg-teal-500"
        mat-icon-button
        (click)="sidenav.toggle()">
        <mat-icon class="text-white">menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list class="bg-teal-500 text-white">
      <a routerLink="./clientes"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon class="text-white" mat-list-icon>home</mat-icon>
        <span class="text-white">Inicio</span>
      </a>

      <a routerLink="./clientes/productos"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon class="text-white" mat-list-icon>egg</mat-icon>
        <span class="text-white">Ver productos</span>
      </a>

      <a routerLink="./clientes/menus"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon class="text-white" mat-list-icon>restaurant_menu</mat-icon>
        <span class="text-white">Ver menús</span>
      </a>

      <!-- Sidenav loggedIn -->
     <div *ngIf="usuario.id">
        <a routerLink="../dashboard/gestionar"
          mat-list-item
          (click)="sidenav.toggle()"
          >
          <mat-icon mat-list-icon>egg</mat-icon>
          <span>Panel de Gestión</span>
        </a>

      </div>


    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar class="bg-white border-b-2 border-teal-500">

    <button
      class="bg-white"
      mat-icon-button
      (click)="sidenav.toggle()">
      <mat-icon class="text-teal-500">menu</mat-icon>
    </button>

    <img class="bg-teal-500 rounded-xl" src="../../../../assets/logoHand.png" width="3%" alt="la-cocina-de-Aitana-logo">
    <button routerLink="./clientes"><h1 routerLink="./clientes" class="text-center mx-auto text-teal-500">La Cocina de Aitana  </h1></button>




    <span class="spacer"></span>


    <button class="bg-white mt-3" type="button" color="warn">

      <a routerLink="./clientes/cart"
      >
        <mat-icon
          mat-list-icon
          [matBadge]="badges"
          matBadgeColor="warn"
          matBadgePosition="before"
          class="text-teal-500"
          >
          shopping_cart
        </mat-icon>
      </a>
    </button>


    <button class="border-2 border-white bg-white" *ngIf="!usuario.id" mat-button (click)="goToLogin()">
      <mat-icon class="text-teal-500">lock</mat-icon>
      <h5 class="text-teal-500">Login</h5>
    </button>

   <button class="logged bg-white" *ngIf="usuario.id" mat-button (click)="logout()">
      <mat-icon class="text-teal-500">lock_open</mat-icon>
      <h5 class="text-teal-500">logout</h5>

    </button>

  </mat-toolbar>

  <router-outlet></router-outlet>



</mat-sidenav-container>

