<div
  fxLayout="column"
  fxLayoutGap="20"
  >

  <div fxFlex="100">
    Producto añadido a la cesta
  </div>
  <hr>

  <div fxLayoutGap="50">
    <div
      fxFlex="40"
      fxLayoutAlign="center center"
      >
      <img width="100%" src="{{ data.image }}" alt="">
    </div>

    <div
      fxFlex="60"
      fxLayout="column"

      >
      <p>
        {{ data.name }}
      </p>

      <p>
        {{ data.price }} <mat-icon [inline]="true">euro_symbol</mat-icon>
      </p>

      <p>
        {{ data.units }} uds
      </p>
    </div>
  </div>

  <hr>

  <div fxLayout="row" fxLayoutAlign="space-between center" >
    <button
      class="still-buying-button"
      mat-raised-button
      type="button"
      (click)="close()">
      Seguir comprando
    </button>

    <button
      class="go-to-cart-button"
      mat-raised-button
      type="button"
      [routerLink]="['./clientes/cart']"
      (click)="close()">
      Ver cesta
    </button>
  </div>

</div>




