<!-- <router-outlet></router-outlet> -->

<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>

    <mat-toolbar>
      <img src="../../../../assets/logo.png" width="40%" alt="la-cocina-de-Aitana-logo" >
      <span class="spacer"></span>
      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./clientes"
         mat-list-item
         (click)="sidenav.toggle()"

      >
        <mat-icon mat-list-icon>home</mat-icon>
        <span>Inicio</span>
      </a>

      <a routerLink="./clientes/productos"
         mat-list-item
         (click)="sidenav.toggle()"

      >
        <mat-icon mat-list-icon>egg</mat-icon>
        <span>Ver productos</span>
      </a>

      <a routerLink="./clientes/menus"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>restaurant_menu</mat-icon>
        <span>Ver menús</span>
      </a>


      <!-- <a routerLink="./clientes/pedidos"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>set_meal</mat-icon>
        <span>Crear pedido</span>
      </a> -->

      <!-- Sidenav loggedIn -->
      <div *ngIf="usuario.id">
        <a routerLink="../dashboard/gestionar/productos"
          mat-list-item
          (click)="sidenav.toggle()"
          >
          <mat-icon mat-list-icon>egg</mat-icon>
          <span>Gestionar productos</span>
        </a>

        <a routerLink="../dashboard/gestionar/menus"
          mat-list-item
          (click)="sidenav.toggle()"
        >
          <mat-icon mat-list-icon>restaurant_menu</mat-icon>
          <span>Gestionar menús</span>
        </a>


        <a routerLink="../dashboard/gestionar/pedidos"
          mat-list-item
          (click)="sidenav.toggle()"
        >
          <mat-icon mat-list-icon>set_meal</mat-icon>
          <span>Gestionar pedidos</span>
        </a>

      </div>


    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar>

    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <img src="../../../../assets/logoHand.png" width="10%" alt="la-cocina-de-Aitana-logo" >

    <span class="spacer"></span>


    <button class="cart-toolbar" type="button" mat-fab color="warn">

      <a routerLink="./clientes/cart"
      >
        <mat-icon
          mat-list-icon
          [matBadge]="badges"
          matBadgeColor="warn"
          matBadgePosition="before"
          >
          shopping_cart
        </mat-icon>
      </a>
    </button>


    <button class="logged" *ngIf="!usuario.id" mat-button (click)="goToLogin()">
      Login
    </button>

   <button class="logged" *ngIf="usuario.id" mat-button (click)="logout()">
      Logout
    </button>

  </mat-toolbar>

  <div class="container">

    <router-outlet></router-outlet>

    <!-- Soy usuario: {{ usuario.id }} -->

  </div>

</mat-sidenav-container>

