<!-- <router-outlet></router-outlet> -->

<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>

    <mat-toolbar>
      <img src="../../../../assets/logo.png" width="40%" alt="la-cocina-de-Aitana-logo" >
      <span class="spacer"></span>
      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./clientes"
         mat-list-item
         (click)="sidenav.toggle()"

      >
        <mat-icon mat-list-icon>home</mat-icon>
        <span>Inicio</span>
      </a>

      <a routerLink="./clientes/productos"
         mat-list-item
         (click)="sidenav.toggle()"

      >
        <mat-icon mat-list-icon>egg</mat-icon>
        <span>Ver productos</span>
      </a>

      <a routerLink="./clientes/menus"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>restaurant_menu</mat-icon>
        <span>Ver menús</span>
      </a>


      <!-- <a routerLink="./clientes/pedidos"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>set_meal</mat-icon>
        <span>Crear pedido</span>
      </a> -->

      <!-- Sidenav loggedIn -->
     <!-- <div *ngIf="usuario.id">
        <a routerLink="../dashboard/gestionar/productos"
          mat-list-item
          (click)="sidenav.toggle()"
          >
          <mat-icon mat-list-icon>egg</mat-icon>
          <span>Gestionar productos</span>
        </a>

        <a routerLink="../dashboard/gestionar/menus"
          mat-list-item
          (click)="sidenav.toggle()"
        >
          <mat-icon mat-list-icon>restaurant_menu</mat-icon>
          <span>Gestionar menús</span>
        </a>


        <a routerLink="../dashboard/gestionar/pedidos"
          mat-list-item
          (click)="sidenav.toggle()"
        >
          <mat-icon mat-list-icon>set_meal</mat-icon>
          <span>Gestionar pedidos</span>
        </a>

      </div>


    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar>

    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <img src="../../../../assets/logoHand.png" width="10%" alt="la-cocina-de-Aitana-logo" >

    <span class="spacer"></span>


    <button class="cart-toolbar" type="button" mat-fab color="warn">

      <a routerLink="./clientes/cart"
      >
        <mat-icon
          mat-list-icon
          [matBadge]="badges"
          matBadgeColor="warn"
          matBadgePosition="before"
          >
          shopping_cart
        </mat-icon>
      </a>
    </button>


    <button class="logged" *ngIf="!usuario.id" mat-button (click)="goToLogin()">
      Login
    </button>

   <button class="logged" *ngIf="usuario.id" mat-button (click)="logout()">
      Logout
    </button>

  </mat-toolbar>

  <div class="container">

    <router-outlet></router-outlet>



  </div>

</mat-sidenav-container> -->


<!-- <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
    <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
  </div>
  <div class="block lg:hidden">
    <button id='boton' class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div id='menu' class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a
        href="./clientes/productos"
        class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Carta de Platos
      </a>
      <a href="./clientes/menus" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Menus
      </a>
    </div>
    <button class="logged" *ngIf="!usuario.id" mat-button (click)="goToLogin()">
      Login
    </button>

   <button class="logged" *ngIf="usuario.id" mat-button (click)="logout()">
      Logout
    </button>
  </div>
</nav> -->


 <!-- <button class="logged" *ngIf="!usuario.id" mat-button (click)="goToLogin()">
      Login
    </button>

   <button class="logged" *ngIf="usuario.id" mat-button (click)="logout()">
      Logout
    </button> -->




<app-navbar></app-navbar>

<div class="relative flex flex-wrap items-center justify-center px-2 py-3">
  <router-outlet></router-outlet>
</div>
