<!-- <router-outlet></router-outlet> -->

<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>

    <mat-toolbar color="primary">
      <img src="../../../../assets/logo.png" width="40%" alt="la-cocina-de-Aitana-logo" >
      <span class="spacer"></span>
      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./clientes"
         mat-list-item
         (click)="sidenav.toggle()"

      >
        <mat-icon mat-list-icon>home</mat-icon>
        <span>Inicio</span>
      </a>

      <a routerLink="./clientes/productos"
         mat-list-item
         (click)="sidenav.toggle()"

      >
        <mat-icon mat-list-icon>egg</mat-icon>
        <span>Ver productos</span>
      </a>

      <a routerLink="./clientes/menus"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>restaurant_menu</mat-icon>
        <span>Ver menús</span>
      </a>


      <a routerLink="./clientes/pedidos"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>set_meal</mat-icon>
        <span>Crear pedido</span>
      </a>

      <a routerLink="../dashboard/gestionar/productos"
         mat-list-item
         (click)="sidenav.toggle()"

      >
        <mat-icon mat-list-icon>egg</mat-icon>
        <span>Gestionar productos</span>
      </a>

      <a routerLink="../dashboard/gestionar/menus"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>restaurant_menu</mat-icon>
        <span>Gestionar menús</span>
      </a>


      <a routerLink="../dashboard/gestionar/pedidos"
         mat-list-item
         (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>set_meal</mat-icon>
        <span>Gestionar pedidos</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">

    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <img src="../../../../assets/logoHand.png" width="10%" alt="la-cocina-de-Aitana-logo" >

    <span class="spacer"></span>

    <button *ngIf="!usuario" mat-button (click)="goToLogin()">
      Login
    </button>

   <button *ngIf="usuario" mat-button (click)="logout()">
      Logout
    </button>

  </mat-toolbar>

  <div class="container">

    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>

