<!-- <mat-sidenav-container class=" z-10 max-w-screen-2xl mx-auto border-t-4 border-white bg-teal-700 rounded-sm" >
<h3 class="text-center">
  made with <mat-icon class="text-white">favorite_border</mat-icon> by <a href="https://github.com/albmg" target="_blank">albmg</a></h3>
<h3>Contacto</h3>
<h3>Contacto</h3>
<h3>Contacto</h3>
</mat-sidenav-container> -->

<div class=" z-10 max-w-screen-2xl mx-auto border-t-4 border-white bg-teal-700 rounded-sm" >
  <h3 class="text-center text-white">
    made with <mat-icon class="text-white">favorite_border</mat-icon> by <a href="https://github.com/albmg" target="_blank">albmg</a></h3>
  <h3 class="text-white">Contacto</h3>
  <h3 class="text-white">Contacto</h3>
  <h3 class="text-white">Contacto</h3>
</div>
