<mat-card>
        <mat-card-header>
          <mat-card-title>Resumen del pedido</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <h3>
            Valor del pedido: {{ totalPrice }} <mat-icon [inline]="true">euro_symbol</mat-icon>
          </h3>
          <h3>
            Coste del envío: Pendiente
          </h3>
          <h2>
            Importe total: Pendiente
          </h2>
          <p>
            IGIC:
          </p>
          <mat-card-actions>
            <button class="purchase-order-button" mat-raised-button [routerLink]="['../pedidos']">Tramitar pedido</button>
          </mat-card-actions>
        </mat-card-content>
</mat-card>
