<div
  fxLayout="column"
>
  <div
    class="div-title"
    fxFlex="100"
    fxFlex.xs="100"
    fxLayout="column"
    >
    <h1>
      Mi cesta
    </h1>

    <div *ngIf="cartProductList.length === 0 && cartMenuList.length === 0">
      <p>
        Tu cesta está vacía
      </p>
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="center none"
  >

    <!-- cart items -->
    <div
      fxLayout="column"
      fxLayout.xs="column"
      fxLayoutGap
      fxLayoutAlign="center none"
      fxFlex="50"
      >
      <div
        *ngIf="cartProductList.length > 0"
      >
        <!-- Cart Product List-->

          <h3>Lista de platos</h3>
          <div class="cart-list" *ngFor="let product of cartProductList"
          >
            <app-product-cart-item [product]="product"></app-product-cart-item>
          </div>

      </div>

      <div
        *ngIf="cartMenuList.length > 0"
      >
        <!-- Cart Menu List-->
          <h3>Lista de menus</h3>
          <div class="cart-list" *ngFor="let menu of cartMenuList"
          >
            <app-menu-cart-item [menu]="menu"></app-menu-cart-item>
          </div>
      </div>


    </div>

    <!-- Show total price -->
    <div
      *ngIf="cartProductList.length > 0 || cartMenuList.length > 0"
      class="total-price-card"
      fxFlex="30"
      >
      <app-show-total-price></app-show-total-price>
    </div>


  </div>

</div>


