<div class="flex flex-col bg-gray-100">

  <div class="ml-3 p-3">
    <h1 class="text-teal-500">
      Mi cesta ({{ cartProductList.length + cartMenuList.length }})
    </h1>

    <div *ngIf="cartProductList.length === 0 && cartMenuList.length === 0">
      <p>
        Tu cesta está vacía
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-3">
    <!-- cart items -->
    <div class="sm:col-span-2">
      <div
        *ngIf="cartProductList.length > 0"
      >
        <!-- Cart Product List-->

          <h3 class="p-3">Lista de platos</h3>
          <div class="mb-3 p-3" *ngFor="let product of cartProductList"
          >
            <app-product-cart-item [product]="product"></app-product-cart-item>
          </div>

      </div>

      <div
        *ngIf="cartMenuList.length > 0"
      >
        <!-- Cart Menu List-->
          <h3 class="p-3">Lista de menus</h3>
          <div class="mb-3 p-3" *ngFor="let menu of cartMenuList"
          >
            <app-menu-cart-item [menu]="menu"></app-menu-cart-item>
          </div>
      </div>


    </div>

    <!-- Show total price -->
    <div
      class="sm:col-span-1"
      *ngIf="cartProductList.length > 0 || cartMenuList.length > 0"
      >
      <app-show-total-price></app-show-total-price>
    </div>


  </div>

</div>


