<h1>Crear pedido</h1>
<mat-divider></mat-divider>

<mat-card>
  <form autocomplete="off"
        [formGroup]="createOrderForm"
        (ngSubmit)="submit()" >

    <mat-card-content>
    <div fxFlex="50" fxLayout="column">
      <h2>Datos de contacto:</h2>
      <!-- Nombre -->

        <mat-form-field appearance="legacy">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="clientName">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <mat-hint>Introduce tu nombre</mat-hint>
        </mat-form-field>


      <!-- email -->

        <mat-form-field appearance="legacy">
          <mat-label>Introduce email</mat-label>
          <input matInput placeholder="ejemplo@ejemplo.com" formControlName="email">
          <mat-hint>Introduce tu correo electrónico</mat-hint>
            <!-- <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>


      <!-- Dirección -->

        <mat-form-field appearance="legacy">
          <!-- <mat-label>Nombre</mat-label> -->
          <input matInput placeholder="Dirección" formControlName="adress">
          <mat-icon matSuffix>add_location</mat-icon>
          <mat-hint>Introduce tu dirección</mat-hint>
        </mat-form-field>



        <!-- Telefono -->

        <mat-form-field appearance="legacy">
          <!-- <mat-label>Nombre</mat-label> -->
          <input matInput placeholder="Telefono" formControlName="phone">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Introduce tu teléfono</mat-hint>
        </mat-form-field>



    </div>

    <div fxFlex="50" fxLayout="column">
      <h2>Datos de pedido:</h2>

       <p>Seleccione al menos un producto o un menú</p>

        <mat-form-field appearance="legacy">
          <mat-label>Selecciona productos</mat-label>
          <mat-select multiple formControlName="purchasedProducts">
            <mat-option *ngFor="let product of products" [value]="product._id">
              {{ product.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="legacy">
          <mat-label>Selecciona menus</mat-label>
          <mat-select multiple formControlName="purchasedMenus">
            <mat-option *ngFor="let menu of menus" [value]="menu._id">
              {{ menu.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      <!-- <mat-form-field appearance="legacy" class="example-form-field">
        <mat-label>Elije una fecha de entrega</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="deliveryDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field> -->

      <mat-form-field appearance="legacy">
        <mat-label>Elije fecha y hora de entrega</mat-label>
        <!-- <input matInput [min]="nextDate" type="datetime-local" formControlName="deliveryDate"> -->
        <input matInput [min]="nextDate" [matDatepicker]="picker" formControlName="deliveryDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>DD/MM/YYYY</mat-hint>
      </mat-form-field>

    </div>

    </mat-card-content>



    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="createOrderForm.invalid"
              >
          Enviar
      </button>
    </mat-card-actions>
  </form>
</mat-card>


<pre>{{ createOrderForm.valid }}</pre>

