<h1>Gestionar productos</h1>
<mat-divider></mat-divider>

<!-- <ng-template #divProduct> -->
  <h2>
    Crear producto
    <!-- {{ ( product._id )? 'Editar' : 'Nuevo' }} -->
    <!-- <small>{{ product.name }}</small> -->
  </h2>
  <div fxLayout="row"
        fxLayout.xs="column"
        faxLayoutGap="30px">

    <div fxFlex="50" fxLayout="column">

        <!-- Form -->
        <div fxFlex="50">
          <form autocomplete="off"
          [formGroup]="createProductForm"
          (ngSubmit)="saveProduct()">
            <p>
              <mat-form-field appearance="legacy">
                <mat-label>Nombre del producto</mat-label>
                <input matInput placeholder="Nombre" formControlName="name" required>
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="legacy">
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Añade un subtítulo" formControlName="description" required>
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p>

            <!-- <p>
              <mat-form-field appearance="legacy">
                <mat-label>Imagen</mat-label>
                <input matInput placeholder="Añadir imagen" formControlName="image" required>
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p> -->

            <!-- Image picker component -->
            <app-image-picker
              (onShareImage)="addImage( $event )"
            >
            </app-image-picker>



            <div>
              <label>Ingredientes</label>

              <div class="input-group">
                <input class="form-control"
                       [formControl]="newIngredient"
                       placeholder="Añadir ingrediente"
                       (keyup.enter)="addIngredient()"
                       >


                <button (click)="addIngredient()"
                type="button">
                  Añadir
                </button>
              </div>

              <div formArrayName="ingredients">
                <div class="input-group"
                      *ngFor="let ingredient of ingredientsArray.controls; let i = index">
                  <input class="form-control"
                         [formControlName]="i"
                         >

                  <button (click)="removeIngredient(i)"
                  type="button">
                    Eliminar
                  </button>
                </div>

              </div>

            </div>

            <!-- <p>
              <mat-form-field appearance="legacy">
                <mat-label>Ingredientes</mat-label>
                <input matInput placeholder="Nombre" formArrayName="ingredients" required>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <button mat-button></button>

              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="legacy">
                <mat-label>Ingredientes</mat-label>
                <input matInput placeholder="Nombre" formArrayName="ingredients" required>
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p> -->



            <p>
              <mat-form-field appearance="legacy">
                <mat-label>Unidades</mat-label>
                <input matInput placeholder="Añadir imagen" formControlName="units" >
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="legacy">
                <mat-label>Peso</mat-label>
                <input matInput placeholder="Añadir imagen" formControlName="weight" >
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </p>

            <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="createProductForm.invalid">
                Crear producto
            </button>



          </form>

        </div>

    </div>

    <mat-divider></mat-divider>


        <!-- <div fxFlex="50" *ngIf="previewProduct">

          <h2>Previsualizando producto</h2>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ previewProduct._id}}</mat-card-title>
              <mat-card-title>{{ previewProduct.name }}</mat-card-title>
              <mat-card-subtitle>{{ previewProduct.description }}</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image [src]="previewProduct.image">

            <mat-card-content>
              <p>Ingredientes: {{ previewProduct.ingredients }}</p>
              <p>Unidades: {{ previewProduct.units }}</p>
              <p>Peso: {{ previewProduct.weight }}</p>
            </mat-card-content>

          </mat-card>

        </div> -->

  </div>
<!-- </ng-template> -->




